/node_modules
/oh_modules
/local.properties
/.idea
**/build
/.hvigor
.cxx
/.clangd
/.clang-format
/.clang-tidy
**/.test
/.appanalyzer

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# DevEco cache
.entry-caches

# DevEco agent plans
/.deveco